/* ********* */
/* @HOME */
/* ********* */


//Parte Imagenes
.mobile_devices, .responsive_design{
    
    &__img img{
        max-width: 40vw;
    }
}

//Parte textos

.mobile_devices, .responsive_design{
    padding: 50px;
    &__texto{
        padding: 20px;
    }
}

.texto{

    &__titulo, &__parrafo, &__lista, &__code{
        margin-bottom: 30px;
    }
    &__code{
        border-left: 2px solid $colorAzul;
        padding: 10px 10px 10px 20px;

    }

    &__boton{
        padding: 15px 20px;
        color: $colorBlanco;
        font-size: 0.75rem;
        background-color: $colorAzul;
        border-radius: 5px;
        border: none;

        img{
            height: 12px;
            padding-right: 5px;
        }
    }

    &__boton:hover{
        cursor: pointer;
        background-color: $colorBlanco;
        color: $colorNegro;
        border: 1px solid $colorNegro;

        img{
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(10%) contrast(97%);
            -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(1%) contrast(97%);
        }
    }

    &__lista ul{
        list-style: none;
        padding: 0;
        line-height: 1.5em;
    }

    &__lista li::before{
        content: '✓';
        color: $colorAzul;
        padding-right: 10px;
    }
    
}


//Mobile Devices

.mobile_devices{
    background-color: map-get($colorFondo, oscuro);
}

//Responsive Design
.responsive_design{
    background-color: map-get($colorFondo, claro);
}